@font-face
  font-family adam
  font-weight 800
  font-style normal
  src url($fonts + '/adam.otf')

@font-face
  font-family adam
  font-weight 400
  font-style bold
  src url($fonts + '/adam.otf')

@font-face
  font-family gibson
  font-weight 400
  font-style normal
  src url($fonts + '/gibson_regular.otf')

@font-face
  font-family gibson
  font-weight 400
  font-style italic
  src url($fonts + '/gibson_regular_italic.otf')

@font-face
  font-family gibson
  font-weight 300
  font-style normal
  src url($fonts + '/gibson_light.otf')

@font-face
  font-family gibson
  font-weight 300
  font-style italic
  src url($fonts + '/gibson_light_italic.otf')

@font-face
  font-family gibson
  font-weight 500
  font-style normal
  src url($fonts + '/gibson_semibold.otf')

@font-face
  font-family gibson
  font-weight 500
  font-style italic
  src url($fonts + '/gibson_semibold_italic.otf')
