/* main styles */

$imgPath = "/assets/images/"

body
    font-family gibson
    font-weight 200
    font-size 1.1rem

a
    color $darkgrey
    
    &:hover, &.active
        color $primary

h1
    font-family adam
    font-weight 400
    font-size 3rem
    color $darkgrey


@media (min-width: 680px) and (max-width: 800px)
    h1
        font-size 2rem

/* HEADER */

$headerHeight = 15rem
$headerTopMargin = 12rem

$headerMobileHeight = 8rem
$headerMobileTopMargin = 10rem

$headerTotalHeight = $headerHeight + $headerTopMargin
$headerMobileTotalHeight = $headerMobileHeight + $headerMobileTopMargin

.header
    position absolute
    top 0
    left 0
    width 100%
    height $headerHeight
    background-color $white
    margin-top $headerTopMargin
    box-shadow 0rem 5rem 6rem -6rem rgba(0,0,0,0.3)

    .logo
        display block
        position absolute
        left 50%
        bottom -5rem
        transform translate3d(-50%, 0, 0)
        transform-origin left
        transition transform .3s ease-out, left .3s ease-out

        .cv
            display block
            height 50px
            width 50px
            background url($imgPath + "dl-btn.png") no-repeat 0 0
            position absolute
            bottom 5.2rem
            left 6.5rem
            opacity 1
            transition opacity .3s ease-out
            cursor pointer

        .cv:hover
            background-position -50px 0

    h1, ul.menu
        display inline-block
        pointer-events none
        position absolute
        top initial
        bottom 0
        opacity 0
        transition opacity .3s ease-out

    ul.menu
        right 5rem
        line-height 2rem

        li
            float left
            margin 0 1rem

        a
            cursor pointer

        a:after
            content ''
            display block
            margin auto
            height 3px
            width 0px
            background transparent
            transition width .3s ease, background-color .5s ease

        a.active:after
            width 100%
            background $primary


    h1
        left 10rem
        width 18rem

.header.small

    .logo
        left 7rem
        transform scale3d(0.3, 0.3, 1) translate3d(-50%, 5rem, 0)

        .cv
            opacity 0
            pointer-events none


    h1, ul.menu
        opacity 1
        pointer-events initial

    h1
        transition opacity .3s ease-out .2s

    ul.menu
        transition opacity .3s ease-out .3s

.header.fixed
    margin-top -7rem
    position fixed
    top 0
    left 0

.content
    padding 0 2rem
    margin-top $headerTopMargin

/* HOME */

.home
    margin-top $headerTotalHeight + 7rem



/* Mobile overrides */
/* ------------------------------------------- */

@media (max-width: 680px)
    h1
        display none !important

    .header
        height $headerMobileHeight
        margin-top $headerMobileTopMargin
        box-shadow 0rem 5rem 10rem -3rem rgba(0,0,0,0.3)

        ul.menu
            right 0

    .header.small, .header.fixed
        margin-top -4rem
        position fixed

        .logo
            left 3rem
            transform scale3d(0.15, 0.15, 1) translate3d(-50%, 19rem, 0)

    .home
        margin-top $headerMobileTotalHeight + 7rem

    .content
        margin-top 0
