/* main styles */

$imgPath = "/assets/images/"

body
    font-family gibson
    font-weight 200
    font-size 1.1rem

a
    color $darkgrey
    
    &:hover, &.active
        color $primary

h1
    font-family adam
    font-weight 400
    font-size 3rem
    color $darkgrey


@media (min-width: 680px) and (max-width: 800px)
    h1
        font-size 2rem

/* UNFOLDING PHOTO */
.aboutSection
    width 80%
    margin 0 auto 3rem auto

    > div
        display inline-block
        vertical-align middle

    .aboutDescription
        width 50%
        margin-left 5rem

.test
    position relative
    width 300px
    height 300px
    opacity 0
    transition opacity .7s ease-out .2s

    &.open
        opacity 1

    div.piece
        width 150px
        height 150px
        position absolute
        transform-style preserve-3d
        transition transform .7s cubic-bezier(0.64, 0.57, 0.67, 1.53)
        perspective 2000px

        figure
            position absolute
            backface-visibility hidden
            margin 0
            width 100%
            height 100%
            display block

    .piece1
        background url($imgPath + "test/1.png")
        bottom 0
        left 0

    .piece2
        bottom 0
        left 150px
        transform-origin left

        .front
            background url($imgPath + "test/2.png")

        .back
            background url($imgPath + "test/2-back.png")
            transform rotateY(180deg)

        &.flipped
            transform rotateY(-180deg) translateZ(-2px)

    .piece3
        bottom 150px
        right 0
        transform-origin bottom

        .front
            background url($imgPath + "test/3.png")

        .back
            background url($imgPath + "test/3-back.png")
            transform rotateX(-180deg)

        &.flipped
            transform rotateX(-180deg) translateZ(-2px)

    .piece4
        bottom 0
        right 150px
        transform-origin right

        .front
            background url($imgPath + "test/4.png")

        .back
            background url($imgPath + "test/4-back.png")
            transform rotateY(180deg)

        &.flipped
            transform rotateY(180deg) translateZ(-2px)


/* HEADER */

$headerHeight = 15rem
$headerTopMargin = 12rem

$headerMobileHeight = 8rem
$headerMobileTopMargin = 10rem

$headerTotalHeight = $headerHeight + $headerTopMargin
$headerMobileTotalHeight = $headerMobileHeight + $headerMobileTopMargin

.header
    position absolute
    top 0
    left 0
    width 100%
    height $headerHeight
    background-color $white
    z-index 100
    margin-top $headerTopMargin
    box-shadow 0rem 5rem 6rem -6rem rgba(0,0,0,0.3)

    .langSelector
        width 3rem
        cursor pointer
        position absolute
        right 2rem
        top $headerHeight - 2rem
        opacity 0
        transition opacity .3s ease-out

        button
            position relative
            background $white
            border none
            display inline-block
            border-radius .2rem
            padding 0
            width 3rem
            outline none

            span
                line-height 2rem
                vertical-align bottom
                font-size 1.2rem

            span::after
                line-height 2rem
                font-size .5rem
                vertical-align middle
                content "▼"
                margin-left .5rem
                color $darkgrey

        button::after
            content ''
            pointer-events none
            position absolute
            left 0
            top 0
            opacity 0
            width 100%
            height 100%
            box-shadow 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)
            border-radius .2rem
            transition opacity 0.2s ease-in-out

        button:hover::after
            opacity 1


        ul
            display none
        
    .langSelector.open
        ul
            display block
            text-align center

            li:hover
                background $lightgrey

        button::after
            opacity 1

    .logo
        display block
        position absolute
        left 50%
        bottom -5rem
        transform translate3d(-50%, 0, 0)
        transform-origin left
        transition transform .3s ease-out, left .3s ease-out

        .cv
            display block
            height 50px
            width 50px
            background url($imgPath + "dl-btn.png") no-repeat 0 0
            position absolute
            bottom 5.2rem
            left 6.5rem
            opacity 1
            transition opacity .3s ease-out
            cursor pointer

        .cv:hover
            background-position -50px 0

    h1, ul.menu
        display inline-block
        pointer-events none
        position absolute
        top initial
        bottom 0
        opacity 0
        transition opacity .3s ease-out

    ul.menu
        right 6rem
        line-height 2rem

        li
            float left
            margin 0 1rem

        a
            cursor pointer

        a:after
            content ''
            display block
            margin auto
            height 3px
            width 0px
            background transparent
            transition width .3s ease, background-color .5s ease

        a.active:after
            width 100%
            background $primary


    h1
        left 10rem
        width 18rem

.header.small

    .logo
        left 7rem
        transform scale3d(0.3, 0.3, 1) translate3d(-50%, 5rem, 0)

        .cv
            opacity 0
            pointer-events none


    h1, ul.menu, .langSelector
        opacity 1
        pointer-events initial

    h1
        transition opacity .3s ease-out .2s

    ul.menu, .langSelector
        transition opacity .3s ease-out .3s

.header.fixed
    margin-top -7rem
    position fixed
    top 0
    left 0

.content
    padding 0 2rem
    margin-top $headerTopMargin

/* HOME */

.home
    margin-top $headerTotalHeight + 3rem



/* Mobile overrides */
/* ------------------------------------------- */

@media (max-width: 680px)
    h1
        display none !important

    .header
        height $headerMobileHeight
        margin-top $headerMobileTopMargin
        box-shadow 0rem 5rem 10rem -3rem rgba(0,0,0,0.3)

        .langSelector
            width 3rem
            cursor pointer
            position absolute
            right 0rem
            top $headerMobileHeight - 2rem

        ul.menu
            right 3rem

    .header.small, .header.fixed
        margin-top -4rem
        position fixed

        .logo
            left 3rem
            transform scale3d(0.15, 0.15, 1) translate3d(-50%, 19rem, 0)

    .home
        margin-top $headerMobileTotalHeight + 3rem

    .content
        margin-top 0
