/* system imports */
@import 'normalize'
@import 'helper'
@import 'reset'


/* variables */
$assets = '../assets'
$images = $assets + '/images'
$fonts = $assets + '/fonts'

$white = #ffffff
$dark = #000000
$darkgrey = #4a4a4a
$mediumgrey = #ccc
$grey = #eee
$lightgrey = #f4f4f4
$active = #fcfcfc
$primary = #14a8e0

/* application imports */
@import 'fonts'
@import 'global'
